<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<!-- MySQL 접속 정보를 지정한다. -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://52.78.77.150:3306/bada?characterEncoding=UTF8" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/bada_admin/dao/mapper/ProductMapper.xml"/>
		<mapper resource="com/bada_admin/dao/mapper/CartMapper.xml"/>
		<mapper resource="com/bada_admin/dao/mapper/MemberMapper.xml"/>
		<mapper resource="com/bada_admin/dao/mapper/MessageMapper.xml"/>
		<mapper resource="com/bada_admin/dao/mapper/NoticeFaqMapper.xml"/>
		<mapper resource="com/bada_admin/dao/mapper/OrdersMapper.xml"/>
		<mapper resource="com/bada_admin/dao/mapper/QnaMapper.xml"/>
		<mapper resource="com/bada_admin/dao/mapper/QnaMemberJoinMapper.xml"/>
		<mapper resource="com/bada_admin/dao/mapper/SalesRequestMapper.xml"/>
	</mappers>
</configuration>
