<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartMapper">
	<resultMap type="com.bada_admin.model.Cart" id="cart">
		<result property="id" column="id" />
		<result property="product_name" column="product_name" />
		<result property="list_price" column="list_price" />
		<result property="sale_price" column="sale_price" />
		<result property="product_img" column="product_img" />
		<result property="reg_date" column="reg_date" />
		<result property="edit_date" column="edit_date" />
		<result property="seller" column="seller" /> <!-- 판매자 : 회원 = "M", 바다="B" -->
		<result property="ok_status" column="ok_status" /> <!-- 승인 상태 : 승인="O", 승인대기="W", 거절="R" -->
		<result property="seller_id" column="seller_id" />
		<result property="seller_name" column="seller_name" />
		<result property="buyer_name" column="buyer_name" />
		<result property="product_status" column="product_status" /> <!-- 제품 상태 : 판매중="S", 판매대기="W", 판매완료="C", 판매거절="R" -->
		<result property="order_id" column="order_id" />
		<result property="payment_price" column="payment_price" />
		<result property="add_id" column="add_id" />
	</resultMap>
	
	<!-- SELECT -->
	<!-- 장바구니 목록 -->
	<select id="selectCartList" parameterType="com.bada_admin.model.Cart" resultMap="cart">
		SELECT
			c.id, product_name, list_price, sale_price, product_img ,DATE_FORMAT(c.reg_date, '%Y-%m-%d %H:%i:%s') AS reg_date, 
			DATE_FORMAT(c.edit_date, '%Y-%m-%d %H:%i:%s') AS edit_date, 
			seller, ok_status, seller_id, product_status, order_id, m.name AS seller_name
		FROM
			cart c
			INNER JOIN
				member m
			ON
				c.seller_id=m.id
		ORDER BY
		 	c.id DESC
	</select>
	<!-- 주문 목록 -->
	<select id="selectOrderList" parameterType="com.bada_admin.model.Cart" resultMap="cart">
		SELECT
			c.id, product_name, list_price, sale_price, product_img ,DATE_FORMAT(c.reg_date, '%Y-%m-%d %H:%i:%s') AS reg_date, 
			DATE_FORMAT(c.edit_date, '%Y-%m-%d %H:%i:%s') AS edit_date, 
			seller, ok_status, seller_id, product_status, order_id, m.name AS seller_name, o.buyer_name AS buyer_name, 
			o.payment_price AS payment_price
		FROM
			cart c
			INNER JOIN
				member m
			ON
				c.seller_id=m.id
			INNER JOIN
				orders o
			ON
				c.order_id=o.id
		WHERE
			order_id!=null
		ORDER BY
			c.id DESC
		LIMIT
			#{limitStart}, #{listCount}
	</select>
	<!-- 총 주문 수 -->
	<select id="selectOrderCount" parameterType="com.bada_admin.model.Cart" resultType="int">
		SELECT
			COUNT(id)
		FROM
			cart
		WHERE
			order_id!=null
	</select>
	<!-- 주문에 포함된 장바구니 -->
	<select id="selectCartInOrdersList" parameterType="com.bada_admin.model.Cart" resultMap="cart">
		SELECT
			c.id, product_name, list_price, sale_price, product_img ,DATE_FORMAT(c.reg_date, '%Y-%m-%d %H:%i:%s') AS reg_date, 
			DATE_FORMAT(c.edit_date, '%Y-%m-%d %H:%i:%s') AS edit_date, 
			seller, ok_status, seller_id, product_status, order_id, m.name AS seller_name, o.buyer_name AS buyer_name, 
			o.payment_price AS payment_price
		FROM
			cart c
			INNER JOIN
				member m
			ON
				c.seller_id=m.id
			INNER JOIN
				orders o
			ON
				c.order_id=o.id
		WHERE
			order_id=#{order_id}
		ORDER BY
			c.id DESC
	</select>
	<!-- 거래 목록 -->
	<select id="selectTradeList" parameterType="com.bada_admin.model.Cart" resultMap="cart">
		SELECT
			c.id, product_name, list_price, sale_price, product_img ,DATE_FORMAT(c.reg_date, '%Y-%m-%d %H:%i:%s') AS reg_date, 
			DATE_FORMAT(c.edit_date, '%Y-%m-%d %H:%i:%s') AS edit_date, 
			seller, ok_status, seller_id, product_status, order_id, m.name AS seller_name, o.buyer_name AS buyer_name, 
			o.payment_price AS payment_price
		FROM
			cart c
			INNER JOIN
				member m
			ON
				c.seller_id=m.id
			INNER JOIN
				orders o
			ON
				c.order_id=o.id
		WHERE
			product_status='C'
		ORDER BY
			c.id DESC
		LIMIT
			#{limitStart}, #{listCount}
	</select>
	<!-- 주문 내 거래 -->
	<select id="selectTradeListInOrders" parameterType="com.bada_admin.model.Cart" resultMap="cart">
		SELECT
			c.id, product_name, list_price, sale_price, product_img ,DATE_FORMAT(c.reg_date, '%Y-%m-%d %H:%i:%s') AS reg_date, 
			DATE_FORMAT(c.edit_date, '%Y-%m-%d %H:%i:%s') AS edit_date, 
			seller, ok_status, seller_id, product_status, order_id, m.name AS seller_name, o.buyer_name AS buyer_name, 
			o.payment_price AS payment_price
		FROM
			cart c
			INNER JOIN
				member m
			ON
				c.seller_id=m.id
			INNER JOIN
				orders o
			ON
				c.order_id=o.id
		WHERE
			product_status='C' AND order_id=#{order_id}
		ORDER BY
			c.id DESC
	</select>
	<!-- 총 거래 수 -->
	<select id="selectTradeCount" parameterType="com.bada_admin.model.Cart" resultType="int">
		SELECT
			COUNT(id)
		FROM
			cart
		WHERE
			product_status='C'
	</select>
	
	<!-- DELETE -->
	<!-- 회원 탈퇴시 삭제해야할 장바구니 -->
	<delete id="deleteCartUserOut" parameterType="com.bada_admin.model.Cart">
		DELETE FROM
			cart
		WHERE
			add_id=#{add_id}
	</delete>
	
</mapper>