<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">
	<resultMap type="com.bada_admin.model.Order" id="order">
		<result property="id" column="id" />
		<result property="order_date" column="order_date" />
		<result property="buyer_id" column="buyer_id" />
		<result property="deposit_status" column="deposit_status" />
		<result property="delivery_status" column="delivery_status" />
		<result property="buyer_addr" column="buyer_addr" />
		<result property="seller_addr" column="seller_addr" />
		<result property="payment_type" column="payment_type" />
		<result property="payment_price" column="payment_price" />
	</resultMap>
	
</mapper>