<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrdersMapper">
	<resultMap type="com.bada_admin.model.Orders" id="orders">
		<result property="id" column="id" />
		<result property="order_date" column="order_date" />
		<result property="buyer_id" column="buyer_id" />
		<result property="buyer_name" column="buyer_name" />
		<result property="buyer_tel" column="buyer_tel" />
		<result property="buyer_addr" column="buyer_addr" />
		<result property="deposit_status" column="deposit_status" /> <!-- 입금 상태 : 입금대기="W", 입금완료="C" -->
		<result property="delivery_status" column="delivery_status" /> <!-- 배송상태 : 배송대기="W", 배송중="S", 배송완료="C" -->
		<result property="payment_type" column="payment_type" /> <!-- 결제 종류 : 현금결제="P", 카드결제="C" -->
		<result property="payment_price" column="payment_price" />
	</resultMap>
	
	<!-- SELECT -->
	<!-- 주문 목록 -->
	<select id="selectOrdersList" parameterType="com.bada_admin.model.Orders" resultMap="orders">
		SELECT
			id, DATE_FORMAT(order_date, '%Y-%m-%d %H:%i:%s') AS order_date, buyer_id, buyer_name, buyer_tel, buyer_addr, 
			deposit_status, delivery_status, payment_type, payment_price
		FROM 
			orders
		ORDER BY
			id DESC
		LIMIT
			#{limitStart}, #{listCount}
	</select>
	<!-- 거래 완료 목록 -->
	<select id="selectOrdersTradeList" parameterType="com.bada_admin.model.Orders" resultMap="orders">
		SELECT
			id, DATE_FORMAT(order_date, '%Y-%m-%d %H:%i:%s') AS order_date, buyer_id, buyer_name, buyer_tel, buyer_addr, 
			deposit_status, delivery_status, payment_type, payment_price
		FROM 
			orders
		WHERE
			deposit_status='C' AND delivery_status='C'
		ORDER BY
			id DESC
		LIMIT
			#{limitStart}, #{listCount}
	</select>
	<!-- 총 주문 수 -->
	<select id="selectOrdersCount" parameterType="com.bada_admin.model.Orders" resultType="int">
		SELECT
			COUNT(id)
		FROM 
			orders
	</select>
	<!-- 총 주문 수 -->
	<select id="selectOrdersTradeCount" parameterType="com.bada_admin.model.Orders" resultType="int">
		SELECT
			COUNT(id)
		FROM 
			orders
		WHERE
			deposit_status='C' AND delivery_status='C'
	</select>
	<!-- 대시보드 표시 주문 목록 -->
	<select id="selectOrdersDashboard" parameterType="com.bada_admin.model.Orders" resultMap="orders">
		SELECT
			id, deposit_status, delivery_status, DATE_FORMAT(order_date, '%Y-%m-%d %H:%i:%s') AS order_date
		FROM
			orders
		ORDER BY
			id DESC
		LIMIT
			0, 5
	</select>
	<!-- 주문 상세 -->
	<select id="selectOrderDetail" parameterType="com.bada_admin.model.Orders" resultMap="orders">
		SELECT
			id, DATE_FORMAT(order_date, '%Y-%m-%d %H:%i:%s') AS order_date, buyer_id, buyer_name, buyer_tel, buyer_addr, 
			deposit_status, delivery_status, payment_type, payment_price
		FROM 
			orders
		WHERE
			id=#{id}
		ORDER BY
			id DESC
		LIMIT
			0, 1
	</select>
	
	<!-- 기간 검색 1개월 전 -->
	<select id="selectOrderListBeforeMonth" parameterType="com.bada_admin.model.Orders" resultMap="orders">
		<![CDATA[
		SELECT
			id, DATE_FORMAT(order_date, '%Y-%m-%d %H:%i:%s') AS order_date, buyer_id, buyer_name, buyer_tel, buyer_addr, 
			deposit_status, delivery_status, payment_type, payment_price
		FROM 
			orders
		WHERE
			DATE_FORMAT(order_date, '%Y-%m-%d %H:%i:%s') <= DATE_ADD(now(), INTERVAL #{month} DAY)
		ORDER BY
			id DESC
		]]>
	</select>
	<!-- 기간 검색 3개월 전 -->
	<!-- 기간 검색 6개월 전 -->
	
	<!-- UPDATE -->
	<!-- 배송 상황 업데이트 -->
	<update id="updateDeliveryStatus" parameterType="com.bada_admin.model.Orders">
		UPDATE
			orders
		SET
			delivery_status=#{delivery_status}
		WHERE
			id=#{id}
	</update>
	<!-- 입금 상황 업데이트 -->
	<update id="updateDepositStatus" parameterType="com.bada_admin.model.Orders">
		UPDATE
			orders
		SET
			deposit_status=#{deposit_status}
		WHERE
			id=#{id}
	</update>
	<!-- 회원 탈퇴시 변경해야할 주문 -->
	<update id="updateOrdersUserOut" parameterType="com.bada_admin.model.Orders">
		UPDATE
			orders
		SET
			buyer_id=null
		WHERE
			buyer_id=#{buyer_id}
	</update>
	
</mapper>