<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">
	<resultMap type="com.bada_admin.model.Product" id="product">
		<result property="id" column="id" />
		<result property="product_name" column="product_name" />
		<result property="list_price" column="list_price" />
		<result property="sale_price" column="sale_price" />
		<result property="product_img" column="product_img" />
		<result property="reg_date" column="reg_date" />
		<result property="edit_date" column="edit_date" />
		<result property="seller" column="seller" /> <!-- 판매자 : 회원="M", 바다="B" -->
		<result property="ok_status" column="ok_status" /> <!-- 승인 상태 : 승인="O", 승인대기="W", 거절="R" -->
		<result property="product_status" column="product_status" /> <!-- 제품 상태 : 판매중="S", 판매대기="W", 판매완료="C", 판매거절="R" -->
		<result property="seller_id" column="seller_id" />
		<result property="seller_name" column="seller_name" />
		<result property="category" column="category" />
		
	</resultMap>
	
	<!-- SELECT -->
	<!-- 상품 목록 조회 -->
	<select id="selectProductList" parameterType="com.bada_admin.model.Product" resultMap="product">
		SELECT
			p.id AS id, product_name, list_price, sale_price, product_img,
			DATE_FORMAT(p.reg_date, '%Y-%m-%d %H:%i:%s') AS reg_date, DATE_FORMAT(p.edit_date, '%Y-%m-%d %H:%i:%s') AS edit_date, 
			seller, ok_status,product_status, seller_id, m.name AS seller_name, category
		FROM
			product p
			INNER JOIN
				member m
			ON
				p.seller_id=m.id
		ORDER BY
			id DESC
		LIMIT
			#{limitStart}, #{listCount}
	</select>
	<!-- 승인 요청 목록 조회 -->
	<select id="selectProductOkStatusList" parameterType="com.bada_admin.model.Product" resultMap="product">
		SELECT
			p.id AS id, product_name, list_price, sale_price, product_img,
			DATE_FORMAT(p.reg_date, '%Y-%m-%d %H:%i:%s') AS reg_date, DATE_FORMAT(p.edit_date, '%Y-%m-%d %H:%i:%s') AS edit_date, 
			seller, ok_status,product_status, seller_id, m.name AS seller_name, category
		FROM
			product p
		INNER JOIN
			member m
			ON
				p.seller_id=m.id
			WHERE
				p.ok_status='W'
		ORDER BY
			id DESC
		LIMIT
			#{limitStart}, #{listCount}
	</select>
	<!-- 상품 상세 조회 -->
	<select id="selectProduct" parameterType="com.bada_admin.model.Product" resultMap="product">
		SELECT
			p.id AS id, product_name, list_price, sale_price, product_img,
			DATE_FORMAT(p.reg_date, '%Y-%m-%d %H:%i:%s') AS reg_date, DATE_FORMAT(p.edit_date, '%Y-%m-%d %H:%i:%s') AS edit_date, 
			seller, ok_status,product_status, seller_id, m.name AS seller_name, category
		FROM
			product p
			INNER JOIN
				member m
			ON
				p.seller_id=m.id
		WHERE
			p.id=#{id}
	</select>
	<!-- 승인 요청 상세 조회 -->
	<select id="selectProductOkStatus" parameterType="com.bada_admin.model.Product" resultMap="product">
		SELECT
			p.id AS id, product_name, list_price, sale_price, product_img,
			DATE_FORMAT(p.reg_date, '%Y-%m-%d %H:%i:%s') AS reg_date, DATE_FORMAT(p.edit_date, '%Y-%m-%d %H:%i:%s') AS edit_date, 
			seller, ok_status,product_status, seller_id, m.name AS seller_name, category
		FROM
			product p
			INNER JOIN
				member m
			ON
				p.seller_id=m.id
		WHERE
			p.id=#{id} AND p.ok_status='W'
	</select>
	<!-- 총 상품 갯수 -->
	<select id="selectProductCount" parameterType="com.bada_admin.model.Product" resultType="int">
		SELECT
			COUNT(id)
		FROM
			product
	</select>
	<!-- 총 승인 요청 상품 갯수 -->
	<select id="selectProductOkStatusCount" parameterType="com.bada_admin.model.Product" resultType="int">
		SELECT
			COUNT(id)
		FROM
			product
		WHERE
			ok_status='W'
	</select>
	<!-- 대시보드 표시 상품 목록 -->
	<select id="selectProductDashboard" parameterType="com.bada_admin.model.Product" resultMap="product">
		SELECT
			id, product_name, DATE_FORMAT(reg_date, '%Y-%m-%d %H:%i:%s') AS reg_date
		FROM
			product
		ORDER BY
			id DESC
		LIMIT
			0, 5
	</select>
	
	<!-- INSERT -->
	<!-- 회원 상품 -->
	<insert id="insertProductMember" parameterType="com.bada_admin.model.Product" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			product(
				product_name, list_price, sale_price, product_img, reg_date, edit_date, seller, ok_status, product_status, seller_id, category	
			)
		VALUES(
			#{product_name}, #{list_price}, #{sale_price}, #{product_img}, now(), now(), 'M', 'W', 'W', #{seller_id}, #{category}
		)
	</insert>
	<!-- 바다 상품 -->
	<insert id="insertProductBada" parameterType="com.bada_admin.model.Product" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			product(
				product_name, list_price, sale_price, product_img, reg_date, edit_date, seller, ok_status, product_status, seller_id, category
			)
		VALUES(
			#{product_name}, #{list_price}, #{sale_price}, #{product_img}, now(), now(), 'B', 'O', 'S', #{seller_id}, #{category}
		)
	</insert>
	
	<!-- UPDATE -->
	<!-- 상품 정보 수정 -->
	<update id="updateProduct" parameterType="com.bada_admin.model.Product">
		UPDATE
			product
		SET
			product_name=#{product_name}, list_price=#{list_price}, sale_price=#{sale_price}, edit_date=now()
			<if test="product_img != null">
				, procuct_img=#{product_img}
			</if>
		WHERE
			id=#{id}
	</update>
	<!-- 상품 승인 상태 -->
	<update id="updateProductOkStatus" parameterType="com.bada_admin.model.Product">
		UPDATE
			product
		SET
			ok_status=#{ok_status} , product_status=#{product_status}
		WHERE
			id=#{id}
	</update>
	
	<!-- DELETE -->
	<!-- 상품 삭제 -->
	<delete id="deleteProduct" parameterType="com.bada_admin.model.Product">
		DELETE FROM
			product
		WHERE
			id=#{id}
	</delete>
	<!-- 회원 탈퇴시 삭제해야할 상품 -->
	<delete id="deleteProductUserOut" parameterType="com.bada_admin.model.Product">
		DELETE FROM
			product
		WHERE
			seller_id=#{seller_id}
	</delete>
	
</mapper>