<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QnaMapper">
	<resultMap type="com.bada_admin.model.Qna" id="qna">
		<result property="id" column="id" />
		<result property="subject" column="subject" />
		<result property="req_type" column="req_type" /> <!-- 문의 종류 : 판매="S", 환불="D", 배송="R", 기타="E" -->
		<result property="content" column="content" />
		<result property="answer" column="answer" />
		<result property="answer_status" column="answer_status" /> <!-- 답변 상태 : 답변="A", 미답변="N" -->
		<result property="reg_date" column="reg_date" />
		<result property="edit_date" column="edit_date" />
		<result property="request_id" column="request_id" />
		<result property="answer_id" column="answer_id" />
	</resultMap>
	
	<!-- SELECT -->
	<!-- 문의 리스트 검색 -->
	<select id="selectQnaList" parameterType="com.bada_admin.model.Qna" resultMap="qna">
		SELECT
			id, subject, req_type, content, answer, answer_status, DATE_FORMAT(reg_date, '%Y-%m-%d %H:%i:%s') AS reg_date, 
			DATE_FORMAT(edit_date, '%Y-%m-%d %H:%i:%s') AS edit_date, request_id, answer_id
		FROM
			qna
		ORDER BY
			id DESC
		LIMIT
			#{limitStart}, #{listCount}
	</select>
	<!-- 총 문의 수 -->
	<select id="selectQnaCount" parameterType="com.bada_admin.model.Qna" resultType="int">
		SELECT
			COUNT(id)
		FROM
			qna
	</select>
	<!-- 대시보드 표시 문의 목록 -->
	<select id="selectQnaDashboard" parameterType="com.bada_admin.model.Qna" resultMap="qna">
		SELECT
			id, subject, DATE_FORMAT(reg_date, '%Y-%m-%d %H:%i:%s') AS reg_date
		FROM
			qna
		ORDER BY
			id DESC
		LIMIT
			0, 5
	</select>
	
	<!-- INSERT -->
	<!-- 문의 입력 -->
	<insert id="insertQna" parameterType="com.bada_admin.model.Qna" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			qna(
				subject, req_type, content, answer_status, reg_date, edit_date, request_id	
			)
		VALUES(
			#{subject}, #{req_type}, #{content}, #{answer_status}, now(), now(), #{request_id}
		)
	</insert>
	
	<!-- UPDATE -->
	<!-- 문의 답변 -->
	<update id="updateQnaAnswer" parameterType="com.bada_admin.model.Qna">
		 UPDATE
		 	qna
		 SET
		 	answer=#{answer}, answer_status='A', edit_date=now(), answer_id=#{answer_id}
		 WHERE
		 	id=#{id}
	</update>
	<!-- 답변 수정 -->
	<update id="updateAnswer" parameterType="com.bada_admin.model.Qna">
		UPDATE
			qna
		SET
			answer=#{answer}, edit_date=now()
		WHERE
			id=#{id}
	</update>
	<!-- 회원 탈퇴시 변경해야할 질문 -->
	<update id="updateQnaUserOut" parameterType="com.bada_admin.model.Qna">
		UPDATE
			qna
		SET
			answer_id=null
		WHERE
			request_id=#{request_id}
	</update>
	
	<!-- DELETE -->
	<!-- 문의 삭제 -->
	<delete id="deleteQna" parameterType="com.bada_admin.model.Qna">
		DELETE FROM
			qna
		WHERE
			id=#{id}
	</delete>
	<!-- 회원 탈퇴시 삭제해야할 문의 -->
	<delete id="deleteQnaUserOut" parameterType="com.bada_admin.model.Qna">
		DELETE FROM
			qna
		WHERE
			request_id=#{request_id}
	</delete>
	
</mapper>